.container{
    /* margin: 10px 17px 30px 40px;
    border: 5px solid red;
    text-decoration: center; */
  margin: auto;
  width: 80%;
  border: 3px solid #73AD21;
  padding: 10px; 
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.cs1{ 
    font-size: 55px;
    margin-top: 50px;
    text-align: center;
    font-family:  sans-serif;
}
.btn {
    margin-top: 40px;
    text-align: center;
    border-radius: 16px;
    width:200px;
    margin-left: 400px;
}
.container1{
    margin-top: 230px;
}
.error {
    color: red;
}
#hello{
    margin-left:1px;
}